main
  section.section
    .container
      h1.title Help
      hr
      p.
        Hello {{name}}!
      hr
      h3.subtitle Getting Started
      p In order to get started merely run
      pre npm install
      p That will install all of the dependencies, in order to start the project:
      pre npm start
