section.section
  .container
    h1.title Welcome {{name}} to Slush Justice!
    hr
    p.
      This generator helps set you up for a SPA written in modern javascript
      with the Vue framework.
    hr
    h3.subtitle Technologies
    span(style='font-weight:bold') PUG
    span : template preprocessing
    br
    span(style='font-weight:bold') Stylus
    span : style preprocessing
    br
    span(style='font-weight:bold') PostCSS
    span : style optimizer used for autoprefixer
    br
    span(style='font-weight:bold') Vue
    span : Modern SPA framework with mix of React/Angular technologies
    br
    span(style='font-weight:bold') Webpack
    span : Project compilation, module bundler, uglifier, etc.
    br
    span(style='font-weight:bold') Buefy
    span : Vue component library extension of Bulma style library
    br
    span(style='font-weight:bold') Browsersync
    span : Auto-reload and update and hot-reload
    br
    span(style='font-weight:bold') ESLint
    span : check quality and style of code
    br
    span(style='font-weight:bold') Babel
    span : Use modern javascript now and polyfill for older browsers.
